
.game__form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; 
}

.game__label {

    width: 30%;
    text-align: left;
    margin-right: 10px;  
}

.game__form {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 700px;
}


.game__input {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
}

.game__button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    max-width: 200px;
    width: 100%;
    margin: 0px auto;
    margin-bottom: 10px;
}

.game__button--update {
    background-color: #EED648;
    color: black;
    border: 1px solid black;
}

.game__button--update:hover {
    background-color: black;
    color: #EED648;
    transition: 0.3s ease-in-out;
}

.game__button--delete {
    background-color: white;
    color: orange;
    border: 1px solid #f67622;
}

.game__button--delete:hover {
    background-color: rgb(255, 112, 3);
    color: black;
    transition: 0.3s ease-in-out;
}

